import /init.comms.rc
import /init.tegra.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

    mkdir /pds 0777 system system
    setprop service.adb.tcp.port 5555
    setprop wifi.interface "wlan0"

on init
    mkdir /dev/camera 0755 media camera
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    # create directory for mounting usb drives
    mkdir /mnt/media_rw/usbdrive 0700 media_rw media_rw
    mkdir /storage/usbdrive 0700 root root
    symlink /mnt/media_rw/usbdrive /storage/usbdrive
    symlink /mnt/media_rw/usbdrive /usbdrive

    # SATA disk
    mkdir /mnt/media_rw/satadrive 0700 media_rw media_rw
    mkdir /storage/satadrive 0700 root root
    symlink /mnt/media_rw/satadrive /satadrive
    symlink /storage/satadrive /satadrive

    chmod 600 /dev/rfkill
    chown root root /dev/rfkill

on fs
    # mount console ramooops
    mount pstore pstore /sys/fs/pstore

    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    setprop audio.custompolicy 1
    mount_all /fstab.tegra
    swapon_all /fstab.tegra

    # setup fake battery
    write /sys/module/test_power/parameters/battery_capacity 100
    write /sys/module/test_power/parameters/battery_status charging
    write /sys/module/test_power/parameters/battery_present false
    # Somehow 'off' means 'turned on'
    write /sys/module/test_power/parameters/ac_online off

    write /sys/class/gpio/export 234
    write /sys/class/gpio/gpio234/direction high

on post-fs-data
    # Set Foster as console mode
    setprop persist.sys.display.resolution 1920x1080
    setprop persist.tegra.composite.policy composite-yuv
    setprop persist.tegra.composite.range Auto
    setprop sys.wal.off external.db,iu.upload.db
    setprop sys.wal.normal tz4,PGDatabase,launcher.db,playlog.db,music.db
    write /sys/power/wake_lock foster-staywake

    mkdir /data/media 0770 media_rw media_rw
    chmod 755 /data
    chmod 755 /data/system
    chmod 755 /data/system/users
    chmod 755 /data/system/users/0
    chmod 755 /data/system/users/0/wallpaper_info.xml

    chown media camera /data/misc/media/nosignal.png
    chmod 440 /data/misc/media/nosignal.png

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # create directory for mediaserver EGL blob cache
    mkdir /data/misc/mediaserver 0770 media media

    mkdir /data/anr 0773 root system

# Set up HDCP
import init.hdcp.rc

on boot
    # This propagates to all cores
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance

# CMU
    chown system system /sys/devices/platform/host1x/tegradc.0/cmu_enable
    chown system system /sys/devices/platform/host1x/tegradc.1/cmu_enable

# power
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/kernel/tegra_volt_cap/cpu_volt
    chmod 0664 /sys/kernel/tegra_volt_cap/cpu_volt
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap
    chown system system /sys/devices/platform/host1x/gk20a.0/enable_3d_scaling

# audio
    chmod 0664 /sys/power/suspend/mode
    chown system audio /sys/power/suspend/mode

# Tegra wakeup monitor
    chown system system /sys/devices/platform/tegra_wakeup_monitor/cmd
    chown system system /sys/devices/platform/tegra_wakeup_monitor/monitor_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/nf_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/am_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/init_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/add_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/del_ports

# vrr
    chown system system /sys/devices/platform/host1x/tegradc.1/vrr/capability
    chown system system /sys/devices/platform/host1x/tegradc.1/vrr/max_fps
    chown system system /sys/devices/platform/host1x/tegradc.1/vrr/min_fps
    chown system system /sys/devices/platform/host1x/tegradc.1/vrr/max_flip_pct
    chown system system /sys/devices/platform/host1x/tegradc.1/vrr/max_adj_pct
    chown system system /sys/devices/platform/host1x/tegradc.1/vrr/max_dc_balance
    chown system system /sys/devices/platform/host1x/tegradc.1/vrr/max_inc_pct

# default SF to realtime
    setprop persist.sys.sf.realtime 1

# Default Read Ahead value for sdcards
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048

#ozwpan driver: WiFi direct USB shim driver
    chown system system /dev/ozwpan
    chown system system /sys/class/ozmo_wpan/ozwpan/devices
    chown system system /sys/class/ozmo_wpan/ozwpan/select
    chown system system /sys/class/ozmo_wpan/ozwpan/bind
    chmod 0660 /sys/class/ozmo_wpan/ozwpan/bind

# TLK storage service
import init.tlk.rc

# set hwui properties depending on the screen resolution and the memory size
service set_hwui_params /system/bin/set_hwui_params.sh
    class main
    user root
    group root
    oneshot

on property:ro.debuggable=1
    # EMC debug interface
    chmod 666 /sys/kernel/debug/tegra_emc/eack_state


service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdrive /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdrive /storage/usbdrive
    class late_start
    disabled

service fuse_satadrive /system/bin/sdcard -u 1023 -g 1023 -l /mnt/media_rw/satadrive /storage/satadrive
     class late_start
     disabled

# Mount usb drives as /usbisk. Generally usb drives are formatted with FAT
# filesystem, so we support FAT as of now.
on device-added-/sys/block/sdb
  mount vfat /dev/block/sdb /mnt/media_rw/usbdrive

on device-removed-/sys/block/sdb
  umount /mnt/media_rw/usbdrive
